* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    overflow: scroll;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}
.noscroll {
    overflow: hidden;
}
.header {
    padding: 23px 0 0;
    .header__top {
        height: 47px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s ease-in-out;
        position: relative;
    }
    .logo {
        padding-top: 5px;
    }
    .header__humbergermenu {
        display: none;
    }
    .humbergermenu {
        width: 34px;
        transform: scaleX(-1);
        //display: none;
    }
    .header__top-search {
        display: flex;
        position: relative;
        width: 610px;
        transition: 0.5s ease-in-out;
    }
    .search__input {
        border-radius: 50px;
        padding: 9px 0 10px 22px;
        border: 1px solid #d6d6d6;
        height: 47px;
        //width: 610px;
        width: 100%;
        font-size: 15px;
    }
    .search__btn {
        color: white;
        position: absolute;
        right: 0;
        background: #293576;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 0 25px 25px 0;
        width: 56px;
        height: 47px;
        img {
            position: relative;
            left: -4px;
        }
    }
    .header__top-list {
        width: 166px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .signin__icon {
        width: 34px;
        display: none;
    }
    .cart__icon {
        width: 34px;
        display: none;
    }
    .search__icon {
        width: 32px;
        display: none;
    }
    .header__search {
        display: none;
    }
    .list__cart {
        display: flex;
        align-items: center;
        gap: 3px;
        position: relative;
        &::after {
            content: "3";
            background-color: #ff3838;
            color: white;
            height: 16px;
            width: 16px;
            position: absolute;
            top: -5px;
            right: -8px;
            border-radius: 50%;
            text-align: center;
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            padding-top: 1px;
        }
    }
    a {
        font-weight: bold;
    }

    .header__menu {
        background: #293576;
        height: 68px;
    }
    .header__menu-container {
        max-width: 1140px;
        margin: 0 auto;
        margin-top: 23px;
    }
    .header__menu-ul {
        display: flex;
        height: 68px;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s ease-in-out;
    }
    .close-menu {
        display: none;
    }

    .menu__link {
        font-size: 15px;
        line-height: 18px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 20px;
        position: relative;

        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            width: 0;
            border-bottom: 5px solid rgba(255, 255, 255, 0.4);
            position: absolute;
            left: -12.5%;
            bottom: -3px;
            visibility: hidden;
        }
        &:hover::after {
            visibility: visible;
            width: 125%;
        }
    }
    .selected__page::after {
        width: 125%;
        visibility: visible;
    }
}

.hero {
    margin-top: 31px;

    .hero__content {
        display: flex;
        gap: 20px;
        transition: 0.5s ease-in-out;
    }
    .hero__aside-list {
        width: 295px;
        background-color: #f5f5f5;
        height: 487px;
    }
    .item__selected {
        background-color: #293576;
        .item__link {
            color: white;
        }
        .hero__aside-img {
            /* filter: invert(93%) sepia(94%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%); */
            filter: invert(99%) sepia(1%) saturate(154%) hue-rotate(166deg) brightness(115%) contrast(100%);
        }
    }
    .list__items {
        padding-top: 19px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .item__link {
        height: 41px;
        padding-left: 16px;
        display: flex;
        align-content: center;
        gap: 19px;

        font-weight: normal;
        font-size: 15px;
        //line-height: 18px;
        .item__title {
            padding-top: 11px;
        }
    }
    .list__items-item:hover {
        transition: background-color 0.4s ease-in-out, filter 0.4s ease-in-out;
        background-color: #293576;
        .hero__aside-img {
            filter: invert(99%) sepia(1%) saturate(154%) hue-rotate(166deg) brightness(115%) contrast(100%);
        }
        .item__title {
            color: white;
        }
    }
    .carousel__container {
        position: relative;
        display: flex;
        overflow: hidden;
    }
    .carousel__mobile {
        display: none;
        width: 925px;
        height: 487px;
        overflow: hidden;
        display: flex;
        position: relative;
        .item {
            position: relative;
            //display: flex;
            img {
                width: 100%;
                height: 487px;
                object-fit: cover;
                overflow: hidden;
                //display: flex;
            }
            .content {
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 28px;
                top: 89px;
                left: 100px;
                opacity: 1;
                transition: opacity 0.3s ease-in-out;
                h1 {
                    width: 90%;
                    //height: 188px;
                    user-select: text;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 80px;
                    font-size: clamp(70px, calc(5vw + 16px), 80px);
                    line-height: 94px;
                    color: white;
                    text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
                }
                .h-btn {
                    width: 144px;
                    height: 55px;
                    background: #293576;
                    border-radius: 100px;
                    text-align: center;
                    padding: 18px 0;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    color: white;
                    text-transform: uppercase;
                }
            }
        }
        .slick-next {
            position: absolute;
            right: 0;
            z-index: 10;
        }
        .slick-dots {
            width: 70px;
            height: 16px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 027px;
            left: 50%;
            transform: translateX(-50%);
            li button {
                width: 16px;
                height: 16px;
                background: white;
                border-radius: 50%;
                cursor: pointer;
                border: 1.6px solid white;
                font-size: 0;
            }
            .slick-active > button {
                background: rgba(#293576, 0.67);
            }
        }
    }
    .carrousel {
        width: 925px;
        height: 487px;
        overflow: hidden;
        display: flex;
        position: relative;
        .item {
            position: relative;
            //display: flex;
            img {
                width: 100%;
                height: 487px;
                object-fit: cover;
                overflow: hidden;
                //display: flex;
            }
            .content {
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 28px;
                top: 89px;
                left: 100px;
                opacity: 1;
                transition: opacity 0.3s ease-in-out;
                h1 {
                    width: 90%;
                    //height: 188px;
                    user-select: text;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 80px;
                    font-size: clamp(70px, calc(5vw + 16px), 80px);
                    line-height: 94px;
                    color: white;
                    text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
                }
                .h-btn {
                    width: 144px;
                    height: 55px;
                    background: #293576;
                    border-radius: 100px;
                    text-align: center;
                    padding: 18px 0;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    color: white;
                    text-transform: uppercase;
                }
            }
        }
        .slick-next {
            position: absolute;
            right: 0;
            z-index: 10;
        }
        .slick-dots {
            width: 70px;
            height: 16px;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 027px;
            left: 50%;
            transform: translateX(-50%);
            li button {
                width: 16px;
                height: 16px;
                background: white;
                border-radius: 50%;
                cursor: pointer;
                border: 1.6px solid white;
                font-size: 0;
            }
            .slick-active > button {
                background: rgba(#293576, 0.67);
            }
        }
    }
    #prev {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 74px;
        height: 70px;
        border: none;
        background: rgba(#000000, 0.1);
        transition: 0.3s;
        &:hover {
            cursor: pointer;
            background: rgba(#000000, 0.4);
        }
    }
    #next {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 74px;
        height: 70px;
        border: none;
        background: rgba(#000000, 0.2);
        transition: 0.3s;
        &:hover {
            cursor: pointer;
            background: rgba(#000000, 0.4);
        }
    }
}

.section__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}
/* // BEST SELLERS \\ */
.popular-products,
.new-products,
.discount-products {
    margin-top: 45px;
    text-align: center;
}
.best__sellers,
.new__sellers,
.discount__sellers {
    overflow: hidden;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 41px;
    .item {
        display: flex;
        //border: 1px solid black;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        width: auto;
        height: 372px;
        padding: 0 7.5px;
    }
    .item__img {
        //width: 295px;
        height: 316px;
        margin: 0 auto;
        display: flex;
        margin-bottom: 13px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            //display: flex;
            border: 1px solid rgba(0, 0, 0, 0.05);
        }
        &::after {
            content: "TOP";
            background-color: #f7754c;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            position: absolute;
            bottom: -3px;
            right: -3px;

            font-weight: bold;
            font-size: 13px;
            line-height: 15px;
        }
    }
    .item__infos {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .product__link {
            font-size: 16px;
            line-height: 19px;
        }
        .price {
            font-size: 20px;
            line-height: 23px;
        }
    }
}
.new__sellers .item__img::after {
    content: "NEW";
    background-color: #b5a834;
}
.discount__sellers {
    .item {
        height: 408px;
    }
    .item__img::after {
        display: none;
    }
    .price {
        color: red;
    }
    .old-price {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-decoration: line-through;
    }
}
.products__nav {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    img {
        height: 32px;
        width: 32px;
        filter: invert(99%) sepia(1%) saturate(154%) hue-rotate(166deg) brightness(115%) contrast(100%);
        &:hover {
            cursor: pointer;
            /* background-color: red; */
            filter: invert(70%) sepia(100%) saturate(154%) hue-rotate(166deg) brightness(115%) contrast(100%);
            color: blue;
        }
    }
}

.banner {
    //height: 178px;
    margin-top: 45px;
    margin-bottom: 54px;
    position: relative;
    img {
        object-fit: cover;
        width: 100%;
    }
    h2 {
        vertical-align: middle;
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.footer__nav-container {
    background: #293576;
    .f-nav {
        height: 72px;
        display: flex;
    }
}
.copyright {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: white;
    margin-right: auto;
}
.footer__list {
    display: flex;
    align-items: center;
    gap: 13px;
    width: 100%;
}
.footer__list-item {
    .footer__list-link {
        color: white;
        transition: 0.3s ease-in-out;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        text-align: center;
        padding: 0px 19px 20px 19px;
        &:nth-last-child() {
            padding-right: 0px;
            color: green !important;
        }
        &:hover {
            border-bottom: 5px solid rgba(255, 255, 255, 0.4);
            text-decoration: none;
        }
    }
}

@media (min-width: 1229px) {

    .hero {
        .carousel__mobile {
            display: none;
        }
    }

}
@media (max-width: 1229px) {
    .search__input {
        background-color: yellow;
        //padding: 0px 0 0px 22px;
    }
    .hero {
        .carousel__mobile {
            display: none;
        }
    }
    .header__top {
        padding: 0 25px;
        gap: 15px;
    }
    .header__menu-ul {
        padding: 0 50px;
    }
}
@media (max-width: 991px) {
    .search__input {
        background-color: green;
        //padding: 0px 0 0px 22px;
    }

    .header__menu-ul {
        padding: 0 50px;
    }
    .hero__content {
        padding: 0 25px;
    }
    .hero {
        .list__items-item {
            .item__link {
                padding-left: 5px;
                gap: 10px;
                font-size: 13px;
                height: 36px;
                .wrap-it {
                    padding-top: 0;
                }
            }
        }
        /*  .carousel__mobile {
            display: none;
        } */
        .carrousel {
            .item {
                .content {
                    top: 55px;
                    left: 70px;
                    h1 {
                        //color: blue;
                        font-size: 55px;
                        line-height: 70px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .search__input {
        background-color: red;
        padding: 0px 0 0px 22px;
    }

    .header {
        //display: none;
        .search__input {
            height: auto;
        }
        .search__btn {
            height: 100%;
        }

        .header__top-list {
            //justify-content: space-around;
            .signin__icon,
            .search__icon,
            .cart__icon {
                display: inline-block;
                width: 26px;
            }
            .signin__text,
            .cart__text {
                display: none;
            }
        }

        .header__humbergermenu {
            display: inline-block;
        }
        .humbergermenu {
            width: 26px;
        }

        .logo__img {
            width: 115px;
        }
        .header__menu {
            position: fixed;
            height: auto;
            background: #293576f6;
            top: 0;
            left: -40%;
            scroll-behavior: unset;
            z-index: 10;
            height: 100%;
            width: 40%;
            //left: 20px;
            //clip-path: circle(0px at 3.5% 5%);
            //-webkit-clip-path: circle(0px at 3.5% 5%);
            transition: all 0.5s ease-in;
            .header__menu-container {
                margin-top: 0;
            }
            .header__menu-ul {
                flex-direction: column;
                //height: 85vh;
                width: 100%;
                height: 100vh;
                justify-content: space-around;
            }
            .close-menu {
                display: inline-block;
                position: absolute;
                top: 10px;
                right: 10px;
                //border: 1px solid rgb(141, 141, 141);
                padding: 5px;
            }
            .close__ham {
                font-size: 18px;
                &::after {
                    content: "";
                    visibility: hidden;
                }
            }
        }
        .header__menu-open {
            left: 0;
        }
    }
    .hero__aside-img {
        display: none;
    }
    .hero {
        margin-top: 15px;
        .carrousel {
            display: none;
        }
        .carousel__mobile {
            display: inline-block;
            .item {
                img {
                    width: auto;
                }
                .content {
                    top: 80px;
                    left: 50px;
                    .content__best {
                        font-size: 40px;
                        line-height: 60px;
                    }
                }
            }
            .slick-dots {
                width: auto;
                gap: 6px;
            }
        }
        .list__items-item {
            .item__link {
                padding-left: 14px;
            }
            .item__title {
                //@at-root color: red;
                font-size: 14px;
            }
        }
        /*   .hero__aside-list {
            display: none;
        } */
    }
    .banner {
        height: auto;
        margin-bottom: 10px;
        h2 {
            font-size: 18px;
        }
    }
    .footer__nav-container {
        .f-nav {
            height: auto;
        }
        .footer__list {
            flex-direction: column;
            padding: 15px 0;
        }
        .copyright {
            margin: 0;
        }
    }
}
@media (max-width: 688px) {
    .header {
         .header__top-search {
            display: none;
        }/*
        .show_search-bar{
            display: inline-flex;
            top: 0;
            visibility: visible;
            z-index: 1;
        } */
        .header__top-list {

            .header__search {
                display: inline-block;
            }
        }
        .header__menu {
            width: 50%;
            left: -50%;
        }
        .header__menu-open {
            left: 0;
        }
    }
    .hero {
        .hero__aside-list {
            display: none;
        }
    }
}
@media (max-width: 481px) {
    .header {
        .header__menu {
            width: 100%;
            left: -100%;
        }
        .header__menu-open {
            left: 0;
        }
    }
    .hero {
        .carousel__mobile {
            display: inline-block;
            .item {
                .content {
                    align-items: center;
                    text-align: center;
                    width: 80%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .slick-dots {
                li {
                    button {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
        #next,
        #prev {
            width: 40px;
            height: 40px;
            img {
                width: 8px;
            }
        }
    }
    .banner {
        height: auto;
        margin-bottom: 10px;
        h2 {
            font-size: 18px;
        }
    }
    .footer__nav-container {
        .f-nav {
            height: auto;
        }
        .footer__list {
            flex-direction: column;
            padding: 15px 0;
        }
        .copyright {
            margin: 0;
        }
    }
}
/* 
@media (max-width: 1052px) {
    .hero {
        .list__items-item {
            .item__link {
                padding-left: 8px;
                .wrap-it{
                    padding-top: 2px;
                }
            }

            .item__title {
                //color: red;
                font-size: 14px;
                
            }
        }
    }
  
}

@media (max-width: 1140px) {
    .header__top {
        padding: 0 10px 0 20px;
        gap: 15px;
    }
    .header__menu-ul {
        padding: 0 50px;
    }
    .hero__content {
        padding: 0 25px;
    }
   
}
@media (max-width: 882px) {
    .search__input {
        //background-color: red;
        padding: 0px 0 0px 22px;
    }
    .hero__aside-img {
        display: none;
    }
    .hero {
        .list__items-item {
            .item__link {
                padding-left: 14px;
            }
            .item__title {
                //@at-root color: red;
                font-size: 14px;
            }
        }
        .carrousel {
            .item {
                .content {
                    top: 55px;
                    left: 70px;
                    h1 {
                        //color: blue;
                        font-size: 55px;
                        line-height: 70px;
                    }
                }
            }
        }
    }
    .header {
        .header__top-search {
            //display: none;
        }
        .header__top-list {
            justify-content: space-between;
            .signin__icon,
            .cart__icon {
                display: inline-block;
            }
            .signin__text,
            .cart__text {
                display: none;
            }
        }
        .header__top {
            .header__humbergermenu {
                .humbergermenu {
                    display: inline-block;
                }
            }
        }
        .header__menu {
            position: fixed;
            height: auto;
            background: #293576f6;
            top: 0;
            scroll-behavior: unset;
            z-index: 10;
            //left: 20px;
            clip-path: circle(0px at 0.5% 8%);
            -webkit-clip-path: circle(0px at 0.5% 8%);
            transition: all 0.5s ease-in;
            .header__menu-container {
                margin-top: 0;
                .header__menu-ul {
                    flex-direction: column;
                    //height: 85vh;
                    width: 100vw;
                    height: 100vh;
                    justify-content: space-around;
                    .close-menu {
                        display: inline-block;
                        position: absolute;
                        top: 18px;
                        right: 54px;
                        //border: 1px solid rgb(141, 141, 141);
                        padding: 5px;

                        .close__ham {
                            font-size: 25px;
                            &::after {
                                content: "";
                                visibility: hidden;
                            }
                        }
                    }
                }
            }
        }
        .header__menu-open {
            clip-path: circle(1000px at 0.5% 15%);
            -webkit-clip-path: circle(1000px at 0.5% 15%);
        }
    }
}

@media screen and (max-width: 768px) {
    .search__input {
        background-color: green;
    }
    .header{
        .header__top{
            .logo{
                position: relative;
                left: 0%;
            }
        }
        .header__top-search{
            display: none;
        }
        .header__top-list{
            .search__icon{
                display: inline-block;
            }
        }
    }
} */

/* @media screen and (min-width: 768.5px) {
    .signin__icon {
        display: none;
    }
    .cart__icon {
        display: none;
    }
    .signin__text,
    .cart__text {
        color: red;
    }
    .header__top {
        padding: 0 20px;
        gap: 15px;
    }
    .header__menu-ul {
        padding: 0 50px;
    }
    .hero__content {
        padding: 0 25px;
    }
    .search__input {
        background-color: red;
        padding: 0px 0 0px 22px;
    }

    .item__link {
        padding-left: 100px;
        //background-color: green;
    }

    .item__title {
        color: red;
        font-size: 12px;
    }
    .hero__aside-img {
        display: none;
    }
}
 */
